:root {
  --color-whiteB: #ebebeb;
  --color-white9: #e9e9e9;
  --color-white: #ffffff;
  --color-gray: #cacaca;
  --color-grayC: #4c4c4c;
  --color-grayD: #4d4d4d;
  --color-accent: #7f7fd5;
  --color-maxblack: #000000;
  --color-darkblack: #111215;
  --color-black: #1a1a1a;
  --color-darkblue: #05111a;
  --color-accent: #7f7fd5;
  --color-blue: #181b1e;
  --font-Montserrat: Montserrat, Inter, -apple-system, sans-serif;
  --font-Nunito: Nunito Sans, Inter, -apple-system, sans-serif;
  --font-Lato: Lato, Inter, -apple-system, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-white);
  background: var(--color-darkblack);
  line-height: 1.6;
  font-family: var(--font-Nunito);
  font-size: 14px;
  min-width: 320px;
}

button {
  color: var(--color-white);
  border: none;
  background: transparent;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
